.jumbotronAgreements{
    margin-top: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.jumbotronAgreements h2{
    margin-bottom: 3rem;

}

.jumbotronAgreements Button{
    font-size: 1rem;
    width: 10rem;
    margin-top: 2rem;

}

.checkbox{
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0;


}

.error{
    font-size: 1rem;
    color:red;
    margin-top: 2rem;
}


